.breadcrumbs{
    background: #F6F7F8;
    margin-bottom: 60px;
    &__nav{
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 17px 0;
        font-weight: 600;

        ul{
            display: flex;
        }
    }
    &__tab{
        list-style-type: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a{
            color: #33A0FF;
        }

        &:not(:last-child)::after{
            content: '/';
            padding: 0 10px;
            color: #C1C8CE;
        }

        &--active{
            a{
                color: #22262A;
            }
        }
    }
}