.bottom2{
    background: #2E90E5;
    // overflow: hidden;
    color: #fff;

    .wrapper{
        height: 600px;
    }

    &__content{
        width: 400px;
        max-width: 100%;
        padding-top: 145px;
    }

    &__product{
        font-weight: 300px;
        line-height: 81px;
        font-size: 66px;
        margin-bottom: 30px;
    }

    &__description{
        line-height: 43px;
        font-size: 24px;
        margin-bottom: 54px;
    }

    &__button{
        font-weight: bold;
        border-bottom: 3px solid #fff;
        text-transform: uppercase;
        padding: 9px 0;
        color: #fff;
    }

    &__image{
        position: absolute;
        right: -35px;
        top: -90px;
    }
}