@mixin for-desktop {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin for-tablet-landscape-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-Ipad {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin for-tablet-small {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin for-phone-ony {
  @media (max-width: 320px) {
    @content;
  }
}
.bottom4 {
  &__news {
    @include for-tablet-landscape-desktop() {
      &__image {
        margin-right: 10px;
      }
    }

    @include for-Ipad() {
      flex-wrap: wrap;
      justify-content: center;

      &__box {
        margin-bottom: 30px;
      }
    }

    @include for-tablet-small() {
      &__image {
        margin: 0 0 20px 0;
      }

      &__box {
        flex-direction: column;
      }

      &__holder {
        text-align: center;
      }
    }
  }

  @include for-tablet-small() {
    padding: 0 10px;

    &__title {
      font-size: 26px;
    }
  }

  &__search {
    @include for-Ipad() {
      padding: 0 10px;
    }

    @include for-tablet-portrait-up() {
      input[type="text"] {
        width: 100%;
      }
    }
  }
}
