.bottom3{
    position: relative;
    z-index: 1;
    background: white;
    padding: 90px 0 70px;

    &__box{
        text-align: center;
        margin: 0 35px 30px;
    }

    &__title{
        font-weight: 600;
        line-height: 43px;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    &__icon{
        display: block;
        text-align: center;
        margin: 0 auto 30px;
    }
    
    &__content{
        line-height: 24px;
    }
}