.loadering {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 4px solid #33a0ff;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: loader 2s infinite ease;
  left: 63%;
}

.loadering-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #33a0ff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.product-listing {
  font-size: 0.9em;
  display: flex;
  flex-wrap: wrap;
  &__filter {
    flex: 1 1 25%;
    & > nav,
    & > section {
      background-color: #f6f7f8;
      border-radius: 5px;
      padding: 10px 20px;
      margin: 20px;
      li,
      h4 {
        padding: 15px 0;
      }
      a {
        font-weight: 600;
        display: flex;
        justify-content: space-between;
      }
    }
    h4 {
      font-size: 1.1em;
      font-weight: bold;
    }
    li {
      list-style: none;
    }
    &__prices {
      &__ranger-text {
        display: flex;
        &--ranger-label {
          font-weight: 600;
          margin-right: auto;
        }
      }
    }
    &__color-picker {
      #color-set {
        display: flex;
        justify-content: space-between;
        #color-pick-blue {
          border: #33a0ff 2px solid;
          background-color: #33a0ff;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
          margin: 10px 0;
          position: relative;
        }
        #color-pick-blue:hover:before {
          content: "";
          border: #fff 2px solid;
          background-color: rgba(#33a0ff, 0);
          width: 16px;
          height: 16px;
          display: block;
          border-radius: 50%;
          position: relative;
          top: -1px;
          left: -1px;
        }
        #color-pick-blue:hover {
          content: "";
          border: rgba($color: #000000, $alpha: 0.3) 3px solid;
          background-color: #33a0ff;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
        }
        #color-pick-red {
          border: #fd2e2e 2px solid;
          background-color: #fd2e2e;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
          margin: 10px 0;
          //position: relative;
        }
        #color-pick-red:hover:before {
          content: "";
          border: #fff 2px solid;
          background-color: rgba(#fd2e2e, 0);
          width: 16px;
          height: 16px;
          display: block;
          border-radius: 50%;
          position: relative;
          top: -1px;
          left: -1px;
          //margin: 10px 0;
        }
        #color-pick-red:hover {
          content: "";
          border: rgba($color: #000000, $alpha: 0.3) 3px solid;
          background-color: #fd2e2e;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
        }
        #color-pick-black {
          border: #000 2px solid;
          background-color: #000;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
          margin: 10px 0;
        }
        #color-pick-black:hover:before {
          content: "";
          border: #fff 2px solid;
          background-color: rgba(#000, 0);
          width: 16px;
          height: 16px;
          display: block;
          border-radius: 50%;
          position: relative;
          top: -1px;
          left: -1px;
        }
        #color-pick-black:hover {
          content: "";
          border: rgba($color: #000000, $alpha: 0.3) 3px solid;
          background-color: #000;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
        }
        #color-pick-yellow {
          border: yellow 2px solid;
          background-color: yellow;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
          margin: 10px 0;
        }
        #color-pick-yellow:hover:before {
          content: "";
          border: #fff 2px solid;
          background-color: rgba(yellow, 0);
          width: 16px;
          height: 16px;
          display: block;
          border-radius: 50%;
          position: relative;
          top: -1px;
          left: -1px;
        }
        #color-pick-yellow:hover {
          content: "";
          border: rgba($color: #000000, $alpha: 0.3) 3px solid;
          background-color: yellow;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
        }
        #color-pick-pink {
          border: fuchsia 2px solid;
          background-color: fuchsia;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
          margin: 10px 0;
        }
        #color-pick-pink:hover:before {
          content: "";
          border: #fff 2px solid;
          background-color: rgba(fuchsia, 0);
          width: 16px;
          height: 16px;
          display: block;
          border-radius: 50%;
          position: relative;
          top: -1px;
          left: -1px;
        }
        #color-pick-pink:hover {
          content: "";
          border: rgba($color: #000000, $alpha: 0.3) 3px solid;
          background-color: fuchsia;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
        }
        #color-pick-gray {
          border: lightgray 2px solid;
          background-color: lightgray;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
          margin: 10px 0;
        }
        #color-pick-gray:hover:before {
          content: "";
          border: #fff 2px solid;
          background-color: rgba(lightgray, 0);
          width: 16px;
          height: 16px;
          display: block;
          border-radius: 50%;
          position: relative;
          top: -1px;
          left: -1px;
        }
        #color-pick-gray:hover {
          content: "";
          border: rgba($color: #000000, $alpha: 0.3) 3px solid;
          background-color: lightgray;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
        }
      }
    }
    .available-stocks {
      color: #a3a3a3;
    }
    .active > span {
      color: #33a0ff;
    }
  }
  &__products {
    flex: 1 4 75%;
    & > section {
      margin: 20px 0;
      border-radius: 5px;
    }
    &__featured {
      display: flex;
      background-color: #33a0ff;
      overflow: hidden;
      height: 355px;
      color: #fff;
      h2 {
        font-size: 3em;
        font-weight: 200;
        margin: 80px 0 20px 80px;
      }
      p {
        font-weight: 400;
        width: 200px;
        font-size: 1em;
        line-height: 2em;
        margin: 30px 0 50px 80px;
      }
      span {
        margin: 50px 0 20px 80px;
        padding-bottom: 10px;
        border-bottom: 3px solid #fff;
        color: #fff;
      }
      img {
        top: -30px;
        right: -200px;
        position: relative;
        height: 500px;
        width: auto;
      }
    }
    &__sort {
      background-color: #f6f7f8;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      div {
        width: fit-content;
      }
      &__options {
        display: flex;
        align-items: baseline;
        padding: 2px 15px;
        margin-right: auto;
        label#sort-by-label {
          padding: 0 8px 0 30px;
        }
        label#items-per-page {
          padding: 0 8px 0 30px;
        }
        select {
          border: 1px solid #ebebeb;
          background-color: inherit;
          width: 8em;
          height: 32px;
          padding-left: 5px;
          border-radius: 0;
          font-size: inherit;
        }
      }
      &__display-choices {
        padding: 0;
        margin: 0;
        display: flex;
        button {
          border: 0;
          width: 44px;
          height: 44px;
          background-color: #f6f7f8;
        }
        button:active {
          background-color: #ebebeb;
          i {
            color: #33a0ff;
          }
        }
        button:focus {
          background-color: #ebebeb;
          i {
            color: #33a0ff;
          }
        }
        button#display-as-list {
          border-radius: 0 5px 5px 0;
        }
      }
    }
    &__card {
      display: flex;
      position: relative;
      border-bottom: 3px #f6f7f8 solid;
      padding: 20px;

      &--link {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      &--image {
        position: relative;
        border: 3px solid #f6f7f8;
        border-radius: 5px;
        min-width: 250px;
        height: 250px;
        display: flex;
        span {
          font-size: 0.8em;
          top: 10px;
          left: 10px;
          position: absolute;
          background-color: #ff4858;
          color: #fff;
          padding: 2px 7px 1px;
        }
        img {
          margin: auto;
          height: auto;
          width: 140px;
        }
      }
      &__details {
        padding-left: 30px;
        &--title {
          font-size: 1.5em;
          font-weight: 600;
        }
        &--review {
          padding: 20px 0;
          color: #c1c8ce;

          span {
            padding: 10px;
          }
        }
        hr {
          border: 1px solid;
          border-top: 2px #f6f7f8 solid;
          max-width: 400px;
          color: unset;
          margin: 0;
        }
        &--price {
          display: block;
          color: #ff4858;
          font-size: 1.5em;
          padding: 20px 0;
          &--before {
            color: #c1c8ce;
            text-decoration: line-through;
            padding-left: 10px;
          }
        }

        p {
          padding: 10px 0;
        }
        footer {
          padding: 10px 0 20px;
          display: flex;
          button {
            border: 0;
            background-color: #b3dbff;
            color: #33a0ff;
            border-radius: 5px;
            padding: 10px;
            font-size: 1em;
            margin-right: 15px;
            z-index: 2;

            &.fave{
              color: #fc2828;
            }
          }
          #product-listing--add-to-cart-btn {
            display: flex;
            align-items: baseline;
            i {
              padding-right: 10px;
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}

input {
  box-shadow: 0;
  outline: 0;
}
.price-slider {
  //width: 300px;
  text-align: center;
  position: relative;
  margin: 1em 0;
  height: 15px;
}
.price-slider svg,
.price-slider input[type="range"] {
  position: absolute;
  left: 0;
  bottom: 0;
}
input[type="number"] {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.6em;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]:invalid,
input[type="number"]:out-of-range {
  border: 2px solid #e60023;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #1da1f2;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #1da1f2;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #1da1f2;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #d8d8d8;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  //border: 1px solid #1da1f2;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #1da1f2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #1da1f2;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #1da1f2;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: #1da1f2;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #1da1f2;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}

@media (max-width: 961px) {
  .header__bread-crumbs {
    margin-top: 150px;
  }
  section.product-listing__products__featured {
    border-radius: unset;
  }
  .product-listing__products__sort {
    border-radius: unset;
  }
}
@media (max-width: 481px) {
  .product-listing__products__sort__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0 10px;
    width: 100%;
    div {
      margin-top: 20px;
      label {
        padding: 0 !important;
      }
    }
  }

  .product-listing__products__sort__display-choices {
    margin-left: auto;
  }
  .product-listing__products__card {
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
    &--image {
      width: 200px;
      height: 200px;
      margin: 0 auto 20px;
    }
    &__details {
      padding: 0 30px;
    }
  }
}
