
@mixin for-Ipad {
  @media (max-width: 960px) {
    @content;
  }
}

.sign-up {
  @include for-Ipad() {
    width: auto;
    padding: 0 10px;
    position: relative;

    &::after {
      background: transparent radial-gradient(circle, #00000029 0%, #000 100%)
        0% 0% no-repeat padding-box;
    }
    &__wrapper {
      flex-direction: column;
      padding: 20px 10px;
      width: auto;
      position: relative !important;
    }

    &__description {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
