@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

@media (max-height: 630px) {
  .sign-up {
    position: relative !important;
  }
  .sign-up__wrapper {
    position: relative !important;
    padding: 20px 0;
  }
}

.fade {
  transition: opacity 0.15s linear;
}

@mixin positionAbsolute {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sign-up {
  font-family: "Montserrat", sans-serif;
  @include positionAbsolute();
  &::before {
    content: "";
    // background: url('../images/sign-up-bg.png') center center;
    background-size: cover;
    @include positionAbsolute();
    background-attachment: fixed;
  }
  &::after {
    content: "";
    @include positionAbsolute();
    top: 0;
    background: transparent linear-gradient(180deg, #00000029 0%, #000000 100%)
      0% 0% no-repeat padding-box;
  }
  &__wrapper {
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
    position: fixed;
  }

  &__section {
    background: #ffffff;
    padding: 20px;
    width: 370px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    // height: 610px;
  }
  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;

    &--title {
      margin-top: 50px;
      margin-bottom: 24px;
      color: #000;
      line-height: 36px;
      font: normal normal bold 24px/36px Montserrat;
    }

    &--link {
      color: #233975;
      font-size: 13px;
      font-weight: bold;
    }
    &--text {
      margin-bottom: 24px;
    }
  }
  &__form {
    display: flex;
    form {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        border: 1px solid #c4c4c4;
        border-radius: 8px;
        padding: 15px;
      }
      input[type="checkbox"] {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;

        &:checked + .sign-up__chkbox-label:after {
          content: "";
          display: block;
          position: absolute;
          top: 2px;
          left: 9px;
          width: 6px;
          height: 14px;
          border: solid #0079bf;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          margin-top: -4px;
        }
      }
    }
  }

  &__input-group {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    position: relative;

    &--error {
      margin-bottom: 35px;
    }

    label {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 12px;
    }

    i {
      position: absolute;
      right: 15px;
      bottom: 17px;
      cursor: pointer;
    }
  }

  &__chkbox-label {
    position: relative;
    cursor: pointer;

    &:before {
      content: "";
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid #c4c4c4;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 10px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
      margin-top: -5px;
    }
  }

  &__button {
    background: #fd2e2e;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    padding: 17px;
    border: 1px solid #fd2e2e;
    border-radius: 8px;
    margin-bottom: 20px;
    font: normal normal bold 12px/15px Montserrat;
    letter-spacing: 0.6px;
    &:hover {
      background: #fff;
      color: #fd2e2e;
    }
  }

  &__footer {
    &--text {
      font-size: 10px;
      width: 196px;
      max-width: 100%;
      display: block;
      margin: 0 auto;
      text-align: center;
      font: normal normal normal 10px/15px Montserrat;
      margin-bottom: 20px;
    }
    &__create-acc {
      width: 100%;
      a {
        color: #b2002d;
        font-weight: bold;
      }
    }
  }

  &__company-name {
    font-size: 36px;
    line-height: 54px;
    font-weight: bold;
    position: relative;
    a {
      color: #fff;
    }

    &--color {
      font: normal normal bold 36px/54px Montserrat;
      color: #fd2e2e;
    }

    &::after {
      content: "";
      width: 64px;
      display: block;
      border: 4px solid #b2002d;
      margin-top: 10px;
    }
  }

  &__company-desc {
    margin-top: 20px;
    color: #fff;
    font: normal normal normal 16px/21px Montserrat;
  }

  &__invalid-feedback {
    display: none;
    margin-top: 10px;
    color: #fd2e2e;
    bottom: -20px;
    position: absolute;
    &--show {
      display: block;
    }
  }
  &__input {
    &--error {
      border: 1px solid #fd2e2e !important;
    }
  }
}

.sign-in {
  &__header {
    &--title {
      margin-top: 20px;
    }
  }
  &__btn {
    display: flex;
    width: 100%;
    font: normal normal bold 12px/15px Montserrat;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
    padding: 15px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i {
      margin-right: 25px;
      font-size: 20px;
    }

    &--apple {
      background: #000;
    }
    &--facebook {
      background: #3a5998;
    }
    &:hover {
      opacity: 0.9;
    }
  }
  &__separate {
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    &::before,
    &::after {
      content: "";
      width: 44%;
      height: 0;
      border-top: 1px solid #c4c4c4;
      position: absolute;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}
