.footer {

    h5{
        font-size: 18px;
        line-height: 28px;
        font-weight: bold;
        padding: 25px 0;
        pointer-events: none;

        i{
            display: none;
        }
    }
    &__top-outer-container{
        border-top: 3px solid #F6F7F8;
        margin-top:20px;
        padding: 35px 0 0;
    }
    &__top{
        display: flex;
        border-bottom: 3px solid #F6F7F8;
        line-height: 20px;
        font-size: 12px;
        padding-bottom: 68px;
        justify-content: space-between;

        &--title{
            font-size: 32px;
            line-height: 39px;
            font-weight: bold;
            opacity: 40%;
            padding-bottom: 40px;
        }

        &>div{
            max-width: 269px;
            width: 100%;
            flex: 0 0 33.33%;
            
        }
        &--brand-description{
        }
        &--social-media{
            div{
                i{
                    padding: 30px 25px 0 0;
                }
                .fa-facebook-f{
                    color: #4267B2;
                }
                .fa-twitter{
                    color: #1DA1F2;
                }
            }
        }
        &--contact-us{
            margin: 0 120px 0 0;
        }
    }
    &__middle{
        display: flex;
        justify-content: space-evenly;
        padding: 30px 0 0;
        &--site-map{
            flex:1;
            ul{
                li{
                    line-height: 220%;;
                    list-style: none;
                }
            }
        }
    }
    &__bottom-outer-container{
        border-top: 3px solid #F6F7F8;
    }
    &__bottom{
        display:flex;
        flex-wrap: wrap;
        padding: 10px 0;
        span{
            opacity: 50%;
            padding: 20px 0;
        }
        &--fund-transfers{
            margin-left: auto;
            
            img{
                padding: 10px 8px;
            }
        }
    }
}